---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} zorth.eu. All rights reserved.
	<div class="social-links">
			<a href="https://www.tarragon.be/" target="_blank">
				<span class="sr-only">Tarragon</span>
				<img src="/icons/tarragon.svg" alt="" width="64" height="64" />
			</a>
			<a href="https://www.linkedin.com/in/jasper-goens/" target="_blank">
				<span class="sr-only">LinkedIn</span>
				<img src="/icons/linkedin.svg" alt="" width="32" height="32" />
			</a>
			<a href="https://github.com/Zorth" target="_blank">
				<span class="sr-only">GitHub</span>
				<img src="/icons/github.svg" alt="" width="32" height="32" />
			</a>
			<a href="mailto:jasper_goens@hotmail.com">
				<span class="sr-only">Email</span>
				<img src="/icons/email.svg" alt="" width="32" height="32" />
			</a>
		</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
		align-items: center;
	}
	.social-links a {
		text-decoration: none;
		display: flex;
		align-items: center;
	}
	.social-links a:hover {
		opacity: 0.7;
	}
</style>